.dht-icon {
    color: white;
    display: inline;
}

.dht-text {
    float: right;
    display: inline;
}

.dht {
    float: right;
    width: 150px;
}

.dhtContainer {
    font-size: 16pt;
    line-height: 24px;
}
